<!DOCTYPE html>
{%extends "navbar.html"%}
{%block content%}
<style></style>
<html>
    <head>
        <title>Project Riffbox</title>
    </head>

    <body>  
        <p>
             <q>One good thing about music, when it hits you, you feel no pain.</q> - Bob Marley
                
             <h1> Welcome to Project Riffbox</h1>
        </p>
        <body style="text-align: center"></body>  
        <img src="images/ProjectRiffbox.jpg" alt="RiffBox" Width = 520 heigh = 520>
        <div class='form'>
            <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }} {{ form.first_name }}
            <br>
            {{ form.submit }}
            <br>
            {{ message }}
    </body>
</html>
{%endblock content%}