{%extends "navbar.html"%}
{%block content%}
<html>
    <head>  
        <title> Project Riffbox Index </title>
    </head>

    <body>
        Welcome to the Riffbox Index!
        <p>
       
            <hr> <q>This is my first project.</q> - Jack Barclay</p> <hr>

    <article id="genres">
        <h2>The genres of Riffbox</h2>
        <h3>List of available genres in Riffbox: </h3>
    <ul>
        <li>Rock</li>
        <li>Metal</li> 
        <li>Reggae</li> 
        <li>Rap</li> 
        <li>90's</li> 
        <li>Techno</li> 
        <li>Hardstyle</li> 
        <li>80's</li>
    </ul> 
    </article>
        
    </p>
    </body>
</html>
{%endblock content%}