{%extends "navbar.html"%}
{%block content%}
<html>
    <head>  
        <title> Project Riffbox Index </title>
    </head>

    <body style="background-color:grey; text-align: center"> 
        Welcome to the Riffbox Index!
        <p>
       
            <hr> <q>This is my first project. There are many like it but this one is mine.</q> - Jack Barclay</p> <hr>

    <article id="genres">
        <h2>The genres of Riffbox</h2>
        <h3>List of available genres in Riffbox: </h3>
    <ul>
        <li>Rock</li>
            <h3>Arising from the evolution of the electric guitar and distorted amplification, rock music is now home to hundreds of sub-genres. 
                
                Popularised in both the UK and the United States by bands playing a 4/4 rhythm and singing verse-chorus songs, it has become part of music history.

                Rock n roll music is characterised by guitars and a heavy snare and kick drum rhythm.
              </h3>
        
              <li>Metal</li> 
            <h3> Metal, or Heavy Metal, is a sub-genre of rock music that has become a genre in its own right and spawned countless other sub-genres. 

                 Featuring a band setup with electric guitars, bass and drums, the distorted guitar sounds give it the heavy non-commercialised and aggressive sound.
                 
                 Fast tempos and shrieking vocals have become synonymous with the style.
            </h3>
        
        <li>Hardstyle</li> 
            <h3>Hardstyle is an electronic dance genre that emerged in the late 90s in the Netherlands. 

                Hardstyle mixes influences from techno, new beat and hardcore.

            </h3>
        
        <li>Rap</li> 
            <h3>Rap describes a style of vocal delivery. 
                
                However, it can be rightly regarded as a musical genre due to its massive popularity. 
                
                Developing alongside hip-hop in the United States, rap evolved from MCs toasting and deejaying in Jamaican dancehall music.

                It has grown to incorporate increasingly complex rhyme schemes and has been appreciated in the same regard as poetry.</h3>
        
        <li>Funk</li> 
            <h3>Funk uses a syncopated beat and heavy bass lines and distinctive grooves. 
                
                It originates from African American influences and takes cues from Soul, Jazz and R&B.

                Since rising to prominence in the 1960s, it has gone on to influence almost every genre of dance music as well as modern rock.</h3>
        
        <li>Reggae</li>
            <h3>Originating in Jamaica in the 1960s and taking the world by storm through the work of Bob Marley, reggae is a fusion of traditional Jamaican folk music with jazz and R&B.

                Offbeat rhythms and staccato chords are common musical themes, and Reggae is closely linked to Rastafarianism and Afrocentric religion.</h3>
    </ul> 
    </article>
        
    </p>
    </body>
</html>
{%endblock content%}