{%extends "navbar.html"%}
{%block content%}
<html>

    <head>
        <title>Riffbox Instructions</title>
    </head>
    <body>
        <h1> How to use Project Riffbox.</h1>
        <body style="text-align: center"></body>  

        Project Riffbox has a compilation of songs, hand picked for you.
        All you have to do is follow three easy steps!
        
        <h3> Step One. </h3>

        You can check the Index page to see what genres are currently available
        in Project Riffbox, along with some information on the making of such Project.

        More information <a href="/index">here!</a>

        <h3>Step Two.</h3>

        Project Riffbox will ask you for three genres of music that you find enjoyable,
        it will then generate a playlist of five songs for you to check out.
        
        You can start doing so <a href="/input">here!</a>

        <h3>Step Three.</h3>
        
        Ready to start? <a href="/home">Click here!</a>
    </body>
</html>
{%endblock content%}